.roulette-container {
  margin: 40px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin: 40px 0;

  .wheel {
    position: relative;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    overflow: hidden;
    border: 3px solid #333333;
    background-color: lightblue;
  }
  .wheel-segment {
    position: absolute;
    width: 75%;
    height: 75%;
    top: -25%;
    left: 50%;
    transform-origin: 0 100%;
    background-color: lightcoral;
  }

  button {
    padding: 15px 40px;
    font-size: 18px;
    cursor: pointer;
  }
}
