$primary: #1a237e;
$accent: #ffb300;
$hover-bg: rgba(24, 169, 153, 0.1);
$text-color: #222222;

.navigation-header {
  box-sizing: border-box;
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e0e0e0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background: white;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0 40px;
  z-index: 1000;

  .logo-container {
    height: 100%;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .link-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;

    .nav-link {
      padding: 10px 20px;
      color: $text-color;
      text-decoration: none;
      font-weight: 500;
      letter-spacing: 0.5px;
      border-radius: 6px;
      transition: all 0.3s ease;
      cursor: pointer;
      position: relative;
      &:hover {
        color: $accent;
        box-shadow: 0 0 20px rgba(255, 179, 0, 0.3);
      }
    }
  }
  .logo-icon {
    width: 60%;
    height: 60%;
    &:hover {
      fill: #4ecdc4;
    }
  }
}
