.main-content {
  padding-top: 80px; // Account for fixed navbar
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-bottom: 2rem;
  min-height: 100vh;

  // Responsive
  @media (min-width: 768px) {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  @media (min-width: 1024px) {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}
